In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from collections import Counter
import warnings
warnings.filterwarnings('ignore')

In [2]:
data = pd.read_csv('./data/result.csv')
data

                업종  상권
0            타이어판매   0
1            호텔/콘도   0
2            호텔/콘도   0
3            호텔/콘도   0
4           일반가구소매   0
...            ...  ..
2363989  한식/백반/한정식   3
2363990     꽃집/꽃배달   0
2363991   미장타일도배도장   0
2363992     고객관리대행   0
2363993     이민유학알선   3

[2363994 rows x 2 columns]

In [3]:
raw_data = pd.read_csv('./data/raw_data.csv')
raw_data

,지역,상호명,지점명,상권업종소분류코드,상권업종소분류명,시군구명,행정동코드,행정동명,법정동코드,법정동명,지번코드,지번본번지,지번부번지,지번주소,건물명,경도,위도
0,강원,동그라미중고타이어,NaN,D23A04,타이어판매,강릉시,4215057100,포남1동,4215011100,포남동,4215011100110960006,1096,6.0,강원도 강릉시 포남동 1096-6,NaN,128.904472,37.770252
1,강원,세인트존스호텔Ohcrab,NaN,O01A01,호텔/콘도,강릉시,4215058000,초당동,4215011300,강문동,4215011300100010001,1,1.0,강원도 강릉시 강문동 1-1,세인트존스호텔,128.920908,37.791299
2,강원,평창라마다호텔,NaN,O01A01,호텔/콘도,평창군,4276038000,대관령면,4276038024,대관령면,4276038024102450066,245,66.0,강원도 평창군 대관령면 횡계리 245-66,NaN,128.717971,37.660051
3,강원,호텔탑스텐스카이라운지,NaN,O01A01,호텔/콘도,강릉시,4215035000,옥계면,4215035029,옥계면,4215035029100920001,92,1.0,강원도 강릉시 옥계면 금진리 92-1,NaN,129.052902,37.654680
4,강원,레이디가구,NaN,D15A01,일반가구소매,원주시,4213066000,무실동,4213011500,무실동,4213011500111400020,1140,20.0,강원도 원주시 무실동 1140-20,NaN,127.917307,37.327668
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2363989,충북,광수가코다리,NaN,Q01A01,한식/백반/한정식,청주시 청원구,4311425300,오창읍,4311425346,오창읍,4311425346104280007,428,7.0,충청북도 청주시 청원구 오창읍 구룡리 428-7,NaN,127.414962,36.709197
2363990,충북,파티라운지운천,NaN,D02A02,꽃집/꽃배달,청주시 흥덕구,4311370000,운천.신봉동,4311310400,운천동,4311310400109520000,952,NaN,충청북도 청주시 흥덕구 운천동 952,NaN,127.474862,36.644013
2363991,충북,도배,NaN,F15A02,미장타일도배도장,청주시 서원구,4311253000,사창동,4311210200,사창동,4311210200102310017,231,17.0,충청북도 청주시 서원구 사창동 231-17,세종회관,127.462285,36.635306
2363992,충북,황금물류,NaN,F08A03,고객관리대행,청주시 상당구,4311168000,금천동,4311112000,금천동,4311112000101990001,199,1.0,충청북도 청주시 상당구 금천동 199-1,금천현대아파트,127.504480,36.629324
2363993,충북,호수농원,NaN,F08A07,이민유학알선,옥천군,4373038000,군북면,4373038028,군북면,4373038028104870001,487,1.0,충청북도 옥천군 군북면 추소리 487-1,NaN,127.563261,36.348981

In [4]:
add_lst = ['행정동명', '행정동코드', '상호명', '경도', '위도']
data.loc[:, add_lst] = raw_data[add_lst]
data

,업종,상권,행정동명,행정동코드,상호명,경도,위도
0,타이어판매,0,포남1동,4215057100,동그라미중고타이어,128.904472,37.770252
1,호텔/콘도,0,초당동,4215058000,세인트존스호텔Ohcrab,128.920908,37.791299
2,호텔/콘도,0,대관령면,4276038000,평창라마다호텔,128.717971,37.660051
3,호텔/콘도,0,옥계면,4215035000,호텔탑스텐스카이라운지,129.052902,37.654680
4,일반가구소매,0,무실동,4213066000,레이디가구,127.917307,37.327668
...,...,...,...,...,...,...,...
2363989,한식/백반/한정식,3,오창읍,4311425300,광수가코다리,127.414962,36.709197
2363990,꽃집/꽃배달,0,운천.신봉동,4311370000,파티라운지운천,127.474862,36.644013
2363991,미장타일도배도장,0,사창동,4311253000,도배,127.462285,36.635306
2363992,고객관리대행,0,금천동,4311168000,황금물류,127.504480,36.629324
2363993,이민유학알선,3,군북면,4373038000,호수농원,127.563261,36.348981

In [5]:
data = data[['행정동명', '행정동코드', '업종', '상호명', '경도', '위도', '상권']]
data

,행정동명,행정동코드,업종,상호명,경도,위도,상권
0,포남1동,4215057100,타이어판매,동그라미중고타이어,128.904472,37.770252,0
1,초당동,4215058000,호텔/콘도,세인트존스호텔Ohcrab,128.920908,37.791299,0
2,대관령면,4276038000,호텔/콘도,평창라마다호텔,128.717971,37.660051,0
3,옥계면,4215035000,호텔/콘도,호텔탑스텐스카이라운지,129.052902,37.654680,0
4,무실동,4213066000,일반가구소매,레이디가구,127.917307,37.327668,0
...,...,...,...,...,...,...,...
2363989,오창읍,4311425300,한식/백반/한정식,광수가코다리,127.414962,36.709197,3
2363990,운천.신봉동,4311370000,꽃집/꽃배달,파티라운지운천,127.474862,36.644013,0
2363991,사창동,4311253000,미장타일도배도장,도배,127.462285,36.635306,0
2363992,금천동,4311168000,고객관리대행,황금물류,127.504480,36.629324,0
2363993,군북면,4373038000,이민유학알선,호수농원,127.563261,36.348981,3

In [6]:
area = [0]*len(data['행정동코드'].unique())

for i, a in enumerate(sorted(data['행정동코드'].unique())):
    area[i] = data.loc[data['행정동코드'] == a, :]
area[0]

          행정동명       행정동코드           업종       상호명          경도         위도  상권
1354812  청운효자동  1111051500          양품점      신진상회  126.970111  37.580638   1
1356070  청운효자동  1111051500        부동산중개      성원교역  126.968198  37.583072   1
1356112  청운효자동  1111051500      운동/경기용품      블루버드  126.970334  37.579298   1
1357452  청운효자동  1111051500  커피전문점/카페/다방      카페서로  126.967845  37.581592   1
1357799  청운효자동  1111051500        카메라판매  스튜디오엠엑스디  126.969914  37.581817   1
...        ...         ...          ...       ...         ...        ...  ..
1696744  청운효자동  1111051500    학원-외국어/어학  액팅스피치클래스  126.967635  37.579571   1
1697853  청운효자동  1111051500      비만/피부관리      엘렌뮤즈  126.970902  37.579149   1
1698938  청운효자동  1111051500     정통양식/경양식      크리스탈  126.970921  37.578564   1
1699255  청운효자동  1111051500         피자전문     부르크보드  126.968901  37.580556   1
1699335  청운효자동  1111051500     음식점-초밥전문       오카즈  126.970918  37.580447   1

[517 rows x 7 columns]

In [7]:
cnt = 0
typo_lst = []
for a in range(len(area)):
    if len(area[a]['행정동명'].unique()) != 1:
        typo_lst.append(Counter(area[a]['행정동명']).keys())
typo_lst

[dict_keys(['숭의1.3동', '숭의1,3동']),
 dict_keys(['용현1.4동', '용현1,4동']),
 dict_keys(['도화2.3동', '도화2,3동']),
 dict_keys(['벌용동', '벌룡동'])]

In [8]:
for name, typo in typo_lst:
    data.loc[data['행정동명'] == typo, '행정동명'] = name

area = [0]*len(data['행정동코드'].unique())

for i, a in enumerate(sorted(data['행정동코드'].unique())):
    area[i] = data.loc[data['행정동코드'] == a, :]
    
for a in range(len(area)):
    if len(area[a]['행정동명'].unique()) != 1:
        print('error!')

In [9]:
area[0]

          행정동명       행정동코드           업종       상호명          경도         위도  상권
1354812  청운효자동  1111051500          양품점      신진상회  126.970111  37.580638   1
1356070  청운효자동  1111051500        부동산중개      성원교역  126.968198  37.583072   1
1356112  청운효자동  1111051500      운동/경기용품      블루버드  126.970334  37.579298   1
1357452  청운효자동  1111051500  커피전문점/카페/다방      카페서로  126.967845  37.581592   1
1357799  청운효자동  1111051500        카메라판매  스튜디오엠엑스디  126.969914  37.581817   1
...        ...         ...          ...       ...         ...        ...  ..
1696744  청운효자동  1111051500    학원-외국어/어학  액팅스피치클래스  126.967635  37.579571   1
1697853  청운효자동  1111051500      비만/피부관리      엘렌뮤즈  126.970902  37.579149   1
1698938  청운효자동  1111051500     정통양식/경양식      크리스탈  126.970921  37.578564   1
1699255  청운효자동  1111051500         피자전문     부르크보드  126.968901  37.580556   1
1699335  청운효자동  1111051500     음식점-초밥전문       오카즈  126.970918  37.580447   1

[517 rows x 7 columns]

In [10]:
area_counter = [
    list(area[a].iloc[0,:2])
    + np.array(Counter(area[a]['업종']).most_common(3)).flatten().tolist()
    for a in range(len(area))
]
area_counter[0]

['청운효자동', 1111051500, '한식/백반/한정식', '72', '커피전문점/카페/다방', '45', '부동산중개', '26']

In [11]:
sample = pd.DataFrame(
    columns=[
        '행정동명', '행정동코드',
        'Top1', 'number of Top1',
        'Top2', 'number of Top2',
        'Top3', 'number of Top3'
    ]
)
sample

Empty DataFrame
Columns: [행정동명, 행정동코드, Top1, number of Top1, Top2, number of Top2, Top3, number of Top3]
Index: []

In [12]:
for i in range(len(area_counter)):
    sample = sample.append(
        {k:v for k,v in zip(sample.columns, area_counter[i])},
        ignore_index=True
    )
sample

,행정동명,행정동코드,Top1,number of Top1,Top2,number of Top2,Top3,number of Top3
0,청운효자동,1111051500,한식/백반/한정식,72,커피전문점/카페/다방,45,부동산중개,26
1,사직동,1111053000,한식/백반/한정식,199,커피전문점/카페/다방,123,정통양식/경양식,44
2,삼청동,1111054000,커피전문점/카페/다방,88,한식/백반/한정식,48,정통양식/경양식,27
3,부암동,1111055000,커피전문점/카페/다방,53,한식/백반/한정식,27,정통양식/경양식,22
4,평창동,1111056000,커피전문점/카페/다방,49,한식/백반/한정식,40,부동산중개,34
...,...,...,...,...,...,...,...,...
3517,서홍동,5013058000,한식/백반/한정식,32,커피전문점/카페/다방,26,여성미용실,25
3518,대륜동,5013059000,한식/백반/한정식,101,커피전문점/카페/다방,74,편의점,39
3519,대천동,5013060000,한식/백반/한정식,95,커피전문점/카페/다방,42,청과물소매,21
3520,중문동,5013061000,한식/백반/한정식,114,커피전문점/카페/다방,41,민박/하숙,29
3521,예래동,5013062000,한식/백반/한정식,80,커피전문점/카페/다방,57,캠프/별장/펜션,33

In [13]:
sample.to_csv('./data/sample.csv', index=False)

In [14]:
commercial_area = [0]*6
ca_order_lst = [
    '행정동명', '행정동코드', '업종', '상호명', '경도', '위도'
]
for c in range(6):
    commercial_area[c] = data[ca_order_lst].loc[data['상권'] == c, :]
commercial_area[0]

           행정동명       행정동코드        업종            상호명          경도         위도
0          포남1동  4215057100     타이어판매      동그라미중고타이어  128.904472  37.770252
1           초당동  4215058000     호텔/콘도  세인트존스호텔Ohcrab  128.920908  37.791299
2          대관령면  4276038000     호텔/콘도        평창라마다호텔  128.717971  37.660051
3           옥계면  4215035000     호텔/콘도    호텔탑스텐스카이라운지  129.052902  37.654680
4           무실동  4213066000    일반가구소매          레이디가구  127.917307  37.327668
...         ...         ...       ...            ...         ...        ...
2363986     오창읍  4311425300     컴퓨터수리        청주컴퓨터수리  127.455685  36.737310
2363988  교현.안림동  4313053500     요가/단식         조은필라테스  127.942701  36.977968
2363990  운천.신봉동  4311370000    꽃집/꽃배달        파티라운지운천  127.474862  36.644013
2363991     사창동  4311253000  미장타일도배도장             도배  127.462285  36.635306
2363992     금천동  4311168000    고객관리대행           황금물류  127.504480  36.629324

[721472 rows x 6 columns]

In [15]:
# 지역의 상권별 경도, 위도 평균 추가한 샘플
additional_col = [
    '행정동명', '행정동코드',
    'Top1', 'number of Top1',
    'Top1 경도', 'Top1 위도',
    'Top2', 'number of Top2',
    'Top2 경도', 'Top2 위도',
    'Top3', 'number of Top3',
    'Top3 경도', 'Top3 위도'
]